.upcoming-event {
  position: relative;
  background: #95cdcd;
  z-index: 0;
}
.upcoming-event:before, .upcoming-event:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.upcoming-event:before {
  background: url("desktop-right.svg");
}
@media only screen and (max-width: 1023px) {
  .upcoming-event:before {
    background-position-x: right !important;
    background-position-y: top !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
}
@media only screen and (min-width: 1024px) {
  .upcoming-event:before {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right;
  }
}
.upcoming-event:after {
  background: url("desktop-left.svg");
}
@media only screen and (max-width: 1023px) {
  .upcoming-event:after {
    background-position-x: left !important;
    background-position-y: bottom !important;
    background-repeat: no-repeat !important;
  }
}
@media only screen and (min-width: 1024px) {
  .upcoming-event:after {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: left;
  }
}
.upcoming-event .dsp-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.upcoming-event .dsp-c-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.upcoming-event .headline h4 {
  color: rgb(38, 104, 76);
}
.upcoming-event .white {
  line-height: 1;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}
.upcoming-event .container {
  margin: 0 auto;
  max-width: 1435px;
  gap: 26px;
  padding: 90px 0;
}
.upcoming-event .container .container_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 400px;
}
.upcoming-event .container .container_inner .photo {
  width: 37.68%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  z-index: 2;
}
.upcoming-event .container .container_inner .photo img {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
}
.upcoming-event .container .container_inner .photo .small {
  display: none;
}
.upcoming-event .container .container_inner .content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 75px 88px 68px 88px;
  width: 45%;
  background: white;
  height: 100%;
  z-index: 2;
}
.upcoming-event .container .container_inner .content .date {
  gap: 5px;
}
.upcoming-event .container .container_inner .content .event {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.upcoming-event .container .container_inner .content .event .line {
  width: 60px;
  height: 3px;
  border-radius: 50px;
  background: #95CDCD;
  margin-bottom: 10px;
}
.upcoming-event .container .container_inner .content .description {
  width: 100%;
}
.upcoming-event .container .container_inner .content .btn {
  width: 261px;
  height: 58px;
  flex-shrink: 0;
  border: 2px solid #009368;
  background: white;
  transition: background 0.3s ease-out;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  cursor: pointer;
  box-sizing: border-box;
}
.upcoming-event .container .container_inner .content .btn:hover {
  background: #009368;
}
.upcoming-event .container .container_inner .content .btn:hover a {
  color: white;
}
.upcoming-event .container .container_inner .other {
  width: 16.8%;
  background: #26684C;
  border-radius: 0 10px 10px 0;
  height: 100%;
  transition: background 0.3s ease-out;
  padding: 2.5%;
  cursor: pointer;
  z-index: 2;
}
.upcoming-event .container .container_inner .other:hover {
  background: #009368;
}
.upcoming-event .text p {
  color: rgb(111, 119, 117);
}
.upcoming-event .date h4 {
  color: rgb(0, 147, 104);
  font-size: 16px;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .upcoming-event .date h4 {
    font-size: 18px;
  }
}
.upcoming-event .date:before {
  content: "\e902";
  color: #eca30c;
  font-family: "icomoon";
}

@media (max-width: 1435px) {
  .upcoming-event .container {
    padding: 7vw 0;
  }
  .upcoming-event .container .container_inner {
    height: 27.87vw;
  }
  .upcoming-event .container .container_inner .content {
    padding: 5.23vw 6.13vw 4.74vw 6.13vw;
  }
  .upcoming-event .container .container_inner .content .btn {
    width: 18.19vw;
    height: 58px;
  }
}
@media (max-width: 1160px) {
  .upcoming-event .container {
    padding-top: 60px;
  }
  .upcoming-event .container .container_inner {
    width: 90%;
    flex-direction: column;
    height: auto;
    gap: 0;
    overflow: hidden;
    margin-bottom: 60px;
  }
  .upcoming-event .container .container_inner .photo {
    height: auto;
    width: 110%;
    border-radius: 10px 10px 0px 0px;
  }
  .upcoming-event .container .container_inner .photo img {
    height: 100%;
  }
  .upcoming-event .container .container_inner .photo .big {
    display: none;
  }
  .upcoming-event .container .container_inner .photo .small {
    display: flex;
  }
  .upcoming-event .container .container_inner .content {
    height: auto;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-top: -6.5%;
  }
  .upcoming-event .container .container_inner .content .btn {
    width: 90%;
  }
  .upcoming-event .container .container_inner .content .description {
    width: 90%;
  }
  .upcoming-event .container .container_inner .other {
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: 76px;
  }
}
@media (max-width: 720px) {
  .upcoming-event a {
    font-size: 1rem;
  }
  .upcoming-event .container .headline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .upcoming-event .container .headline h2 {
    text-align: center;
  }
  .upcoming-event .container .container_inner {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .upcoming-event .container {
    padding: 15.4vw 0 15.4vw 0;
    gap: 4.1vw;
  }
  .upcoming-event .container .container_inner {
    margin-bottom: unset;
  }
  .upcoming-event .container .container_inner .content .event .line {
    width: 15.38vw;
    height: 0.8vw;
  }
  .upcoming-event .container .container_inner .other {
    padding: 0 35vw;
  }
}
@media (max-width: 200px) {
  .upcoming-event a {
    font-size: 8vw;
    line-height: 11vw;
  }
  .upcoming-event .container .container_inner .content {
    border-radius: 5vw 5vw 0 0;
  }
  .upcoming-event .container .container_inner .content .date img {
    width: 9.5vw;
  }
  .upcoming-event .container .container_inner .content .btn {
    height: 29vw;
  }
  .upcoming-event .container .container_inner .other {
    height: 38vw;
    border-radius: 0 0 5vw 5vw;
  }
}

/*# sourceMappingURL=style.css.map */
