@import "mixins.scss";

.upcoming-event {
  position: relative;
  background: #95cdcd;
  z-index: 0;
  &:before,
  &:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }
  &:before {
    background:url('desktop-right.svg');
    @include screen(0,1023) {
      background-position-x: right!important;
      background-position-y: top!important;
      background-size: contain!important;
      background-repeat: no-repeat!important;
    }
    @include screen(1024) {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: right;
    }
  }
  &:after {
    background:url('desktop-left.svg');
    @include screen(0,1023) {
      background-position-x: left !important;
      background-position-y: bottom !important;
      background-repeat: no-repeat !important;
    }
    @include screen(1024) {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: left;
    }
  }
  .dsp-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .dsp-c-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headline {
    h4 {
      color: rgba(38, 104, 76, 1);
    }
  }
  .white {
    line-height: 1;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
  }
  .container {
    margin: 0 auto;
    max-width: 1435px;
    gap: 26px;
    padding:90px 0;
    .container_inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95%;
      height: 400px;
      .photo {
        width: 37.68%;
        height: 100%;
        border-radius: 10px 0 0 10px;
        z-index: 2;
        img {
          border-radius: 10px 0 0 10px;
          width: 100%;
          height: 100%;
        }
        .small {
          display: none;
        }
      }
      .content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 75px 88px 68px 88px;
        width: 45%;
        background: white;
        height: 100%;
        z-index: 2;
        .date {
          gap: 5px;
        }
        .event {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 5px;
          .line {
            width: 60px;
            height: 3px;
            border-radius: 50px;
            background: #95CDCD;
            margin-bottom: 10px;
          }
        }
        .description {
          width: 100%;
        }
        .btn {
          width: 261px;
          height: 58px;
          flex-shrink: 0;
          border: 2px solid #009368;
          background: white;
          transition: background 0.3s ease-out;
          stroke-linecap: butt;
          stroke-linejoin: miter;
          cursor: pointer;
          box-sizing: border-box;
          &:hover {
            background: #009368;
            a {
              color: white;
            }
          }
        }
      }
      .other {
        width: 16.8%;
        background: #26684C;
        border-radius: 0 10px 10px 0;
        height: 100%;
        transition: background 0.3s ease-out;
        padding: 2.5%;
        cursor: pointer;
        z-index: 2;
        &:hover {
          background: #009368;
        }
      }
    }
  }
  .text {
    p {
      color:rgba(111, 119, 117, 1);
    }
  }
  .date {
    h4 {
      color: rgba(0, 147, 104, 1);
      font-size: 16px;
      margin: 0;
      @include screen(768) {
        font-size: 18px;
      }
    }
    &:before {
      content: "\e902";
      color: #eca30c;
      font-family: "icomoon";
    }
  }
}

@media ( max-width : 1435px ) {
  .upcoming-event {
    .container {
      padding: 7vw 0;
      .container_inner {
        height: 27.87vw;
        .content {
          padding: 5.23vw 6.13vw 4.74vw 6.13vw;
          .btn {
            width: 18.19vw;
            height: 58px;
          }
        }
      }
    }
  }
}

@media (max-width : 1160px) {
  .upcoming-event {
    .container {
      padding-top: 60px;
      .container_inner {
        width: 90%;
        flex-direction: column;
        height: auto;
        gap: 0;
        overflow: hidden;
        margin-bottom: 60px;
        .photo {
          height: auto;
          width: 110%;
          border-radius: 10px 10px 0px 0px;
          img {
            height: 100%;
          }
          .big {
            display: none;
          }
          .small {
            display: flex;
          }
        }
        .content {
          height: auto;
          width: 100%;
          border-radius: 10px 10px 0px 0px;
          margin-top: -6.5%;
          .btn {
            width: 90%;
          }
          .description {
            width: 90%;
          }
        }
        .other {
          width: 100%;
          border-radius: 0 0 10px 10px;
          height: 76px;
        }
      }
    }
  }
}

@media ( max-width : 720px) {
  .upcoming-event {
    a {
      font-size: 1rem;
    }
    .container {
      .headline {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
          text-align: center;
        }
      }
      .container_inner {
        width: 100%;
      }
    }
  }
}

@media (max-width : 390px) {
  .upcoming-event {
    .container {
      padding: 15.4vw 0 15.4vw 0;
      gap: 4.1vw;
      .container_inner {
        margin-bottom: unset;
        .content {
          .event {
            .line {
              width: 15.38vw;
              height: 0.8vw;
            }
          }
        }
        .other {
          padding: 0 35vw; 
        }
      }
    }
  }
}

@media (max-width : 200px) {
  .upcoming-event {
    a {
      font-size: 8vw;
      line-height: 11vw;
    }
    .container {
      .container_inner {
        .content {
          border-radius: 5vw 5vw 0 0;
          .date {
            img {
              width: 9.5vw;
            }
          }
          .btn {
            height: 29vw;
          }
        }
        .other {
          height: 38vw;
          border-radius: 0 0 5vw 5vw;
        }
      }
    }
  }
}
