{% extends "block-base.twig" %}

{% block content %}
  <section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container dsp-c-c">
    {% if fields.content.title|length > 0 %}
      <div class="headline">
        <h2>{{fields.content.title}}</h2>
      </div>
    {% endif %}
      <div class="container_inner dsp-c-r">
        <div class="photo">
          <img src="{{fields.content.image.url}}" alt="Charity" class="big">
          <img src="{{fields.content.image.url}}" alt="charity" class="small">
        </div>
        <div class="content">
          <div class="date dsp-c-r">
            <h4>{{fields.content.date}}</h4>
          </div>
          <div class="text">
            <InnerBlocks/>
          </div>
        </div>
        <div class="other dsp-c-r">
          <a href="{{fields.content.link.url}}" class="white">
            {{fields.content.link.title}}
          </a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
