.cta-one {
  position: relative;
  background: #306F5E;
  background: url("bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 36px;
}
@media only screen and (min-width: 1280px) {
  .cta-one {
    padding: 10vh 0;
  }
}
@media only screen and (min-width: 600px) {
  .cta-one .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
@media only screen and (min-width: 600px) {
  .cta-one .wrapper .wp-block-button {
    flex: 0 0 30%;
  }
}
.cta-one .content {
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cta-one .content {
    text-align: left;
    max-width: 640px;
  }
}
.cta-one h1,
.cta-one h2,
.cta-one h3,
.cta-one h4,
.cta-one h5,
.cta-one h6 {
  color: white;
}
@media only screen and (min-width: 1024px) {
  .cta-one .wp-element-button {
    min-width: 300px !important;
  }
}
@media only screen and (min-width: 1280px) {
  .cta-one .wp-element-button {
    min-width: 350px !important;
  }
}
@media only screen and (min-width: 1366px) {
  .cta-one .wp-element-button {
    min-width: 400px !important;
  }
}
@media only screen and (min-width: 1536px) {
  .cta-one .wp-element-button {
    min-width: 444px !important;
  }
}

.wp-block-button__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
