@import "mixins.scss";

.cta-one {
  position: relative;
  background: #306F5E;
  background:url('bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 36px;
  @include screen(1280) {
    padding: 10vh 0;
  }
  .wrapper {
    @include screen(600) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    .wp-block-button {
      @include screen(600) {
        flex: 0 0 30%;
      }
    }
  }
  .content {
    text-align: center;
    @include screen(600) {
      text-align: left;
      max-width: 640px;
    }
  }
  @include headings() {
    color:white;
  }
  .wp-element-button {
    @include screen(1024) {
      min-width: 300px !important;
    }
    @include screen(1280) {
      min-width: 350px !important;
    }
    @include screen(1366) {
      min-width: 400px !important;
    }
    @include screen(1536) {
      min-width: 444px !important;
    }
  }
}

.wp-block-button__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}