{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="container">
    <div class="wrapper">
      <div class="content">
        <InnerBlocks/>
      </div>
      {% if fields.content.link.title|length > 0 %}
      <div class="wp-block-button">
        <a class="wp-block-button__link wp-element-button" href="{{fields.content.link.url}}">{{fields.content.link.title}}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
