{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="container">
    <div class="wrapper">
      <div class="flex">
        <img src="{{fields.content.image.url}}" alt="{{fields.content.image.url}}">
      </div>
    </div>
  </div>
</section>
{% endblock %}
