.sub-horizontal-list {
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  .sub-horizontal-list list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.sub-horizontal-list item {
  color: #009368;
  position: relative;
  font-weight: 600;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .sub-horizontal-list item {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1280px) {
  .sub-horizontal-list item {
    font-size: 20px;
  }
}
.sub-horizontal-list item:before {
  font-family: "icomoon";
  content: "\e903";
  color: #95CDCD;
  vertical-align: middle;
  margin-right: 5px;
}
@media only screen and (min-width: 1024px) {
  .sub-horizontal-list item:before {
    margin-bottom: 3px;
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
