@import "mixins.scss";

.sub-horizontal-list {
  margin: 1em 0;
  list {
    @include screen(768) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  item {
    color:#009368;
    position:relative;
    font-weight: 600;
    font-size: 16px;
    @include screen(768) {
      font-size: 18px;
    }
    @include screen(1280) {
      font-size: 20px;
    }
    &:before {
      font-family: "icomoon";
      content: "\e903";
      color: #95CDCD;
      vertical-align: middle;
      margin-right: 5px;
      @include screen(1024) {
        margin-bottom: 3px;
        display: inline-block;
      }
    }
  }
}