{% extends "block-base.twig" %}

{% block content %}
<div class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <list class="box">
  {% for item in fields.content.items %}
    <item>{{item.text}}</item>
  {% endfor %}
  </list>
</div>
{% endblock %}
