.text-cards {
  position: relative;
  background: #FCFCF6;
  padding: 36px;
}
@media only screen and (min-width: 1024px) {
  .text-cards {
    padding: 5vh 0;
  }
}
@media only screen and (min-width: 1280px) {
  .text-cards {
    padding: 7.5vh 0;
  }
}
@media only screen and (min-width: 1366px) {
  .text-cards {
    padding: 10vh 0;
  }
}
.text-cards:before, .text-cards:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
@media only screen and (max-width: 1023px) {
  .text-cards:before {
    background: url("right.svg");
    background-repeat: no-repeat !important;
    background-position-x: right;
    background-position-y: 75%;
    background-size: 65%;
  }
}
@media only screen and (min-width: 1024px) {
  .text-cards:before {
    background: url("right.svg");
    background-repeat: no-repeat !important;
    background-position-x: right;
    background-position-y: bottom;
  }
}
@media only screen and (max-width: 1023px) {
  .text-cards:after {
    background: url("left.svg");
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 15%;
  }
}
@media only screen and (min-width: 1024px) {
  .text-cards:after {
    background: url("left.svg");
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
  }
}
.text-cards .container {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 900px) {
  .text-cards .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
  }
}
.text-cards .content {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 900px) {
  .text-cards .content {
    flex: 0 0 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .text-cards .content {
    flex: 0 0 40%;
  }
}
@media only screen and (min-width: 1536px) {
  .text-cards .content {
    flex: 0 0 34%;
  }
}
.text-cards .people {
  margin-top: 20px;
}
@media only screen and (min-width: 485px) {
  .text-cards .people {
    display: flex;
    gap: 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .text-cards .people {
    display: flex;
    gap: 30px;
  }
}
.text-cards .btn a {
  text-decoration: none;
  color: #306f5e;
  font-weight: 600;
  background: #95CDCD;
  text-align: center;
  padding: 13px;
  width: 100%;
  display: block;
  transition: all 0.3s ease-out;
}
.text-cards .btn a:hover {
  color: #95CDCD;
  background: #3e5863;
}
.text-cards .btn a:hover:before {
  color: #95CDCD;
}
.text-cards .photo img {
  display: block;
}
.text-cards .phone {
  font-size: 16px;
}
.text-cards .phone:before {
  transition: all 0.3s ease-out;
  font-family: "icomoon";
  content: "\e905";
  color: #306f5e;
  font-size: 12px;
  vertical-align: middle;
  margin-right: 10px;
}
.text-cards .person + .person {
  margin-top: 25px;
}
@media only screen and (min-width: 485px) {
  .text-cards .person + .person {
    margin-top: 0px;
  }
}
.text-cards.is-style-nobg {
  background: none;
}
.text-cards.is-style-nobg:before, .text-cards.is-style-nobg:after {
  background: none !important;
}

/*# sourceMappingURL=style.css.map */
