@import "mixins.scss";

.text-cards {
  position: relative;
  background: #FCFCF6;
  padding: 36px;
  @include screen(1024) {
    padding: 5vh 0;
  }
  @include screen(1280) {
    padding: 7.5vh 0;
  }
  @include screen(1366) {
    padding: 10vh 0;
  }

  &:before,
  &:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
  }
  &:before {
    @include screen(0,1023) {
      background:url('right.svg');
      background-repeat: no-repeat!important;
      background-position-x: right;
      background-position-y: 75%;
      background-size: 65%;
    }
    @include screen(1024) {
      background:url('right.svg');
      background-repeat: no-repeat !important;
      background-position-x: right;
      background-position-y: bottom;
    }
  }
  &:after {
    @include screen(0,1023) {
      background:url('left.svg');
      background-position-x: left;
      background-position-y: top;
      background-repeat: no-repeat;
      background-size: 15%;
    }
    @include screen(1024) {
      background:url('left.svg');
      background-position-x: left;
      background-position-y: top;
      background-repeat: no-repeat;
    }
  }

  .container {
    position: relative;
    z-index: 2;
    @include screen(900) {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 50px;
    }
  }
  .content {
    position: relative;
    z-index: 2;
    @include screen(900) {
      flex: 0 0 50%;
    }
    @include screen(1280) {
      flex: 0 0 40%;
    }
    @include screen(1536) {
      flex: 0 0 34%;
    }
  }
  .people {
    margin-top:20px;
    @include screen(485) {
      display:flex;
      gap: 10px;
    }
    @include screen(1280) {
      display:flex;
      gap: 30px;
    }
  }
  .btn {
    a {
      text-decoration: none;
      color: #306f5e;
      font-weight: 600;
      background: #95CDCD;
      text-align: center;
      padding: 13px;
      width: 100%;
      display: block;
      transition: all .3s ease-out;
      &:hover {
        color: #95CDCD;
        background: #3e5863;
        &:before {
          color: #95CDCD;
        }
      }

    }
  }
  .photo {
    img {
      display:block;
    }
  }
  .phone {
    font-size: 16px;
    &:before {
      transition: all .3s ease-out;
      font-family: "icomoon";
      content: "\e905";
      color: #306f5e;
      font-size: 12px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .person + .person {
    margin-top:25px;
    @include screen(485) {
      margin-top:0px;
    }
  }
  &.is-style-nobg {
    background:none;
    &:before,
    &:after {
      background:none !important;
    }
  }
}
