{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="container">
    <div class="content">
      <InnerBlocks/>
    </div>
    <div class="people">
      {% for item in fields.content.items %}
      <div class="person">
        <div class="photo">
          <img src="{{item.image.url}}" alt="male">
        </div>
        <div class="btn">
          <a class="phone" href="{{item.link.url}}">{{item.link.title}}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
