.footer {
  padding: 5vh;
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 5vh 0;
  }
}
@media only screen and (min-width: 1366px) {
  .footer {
    padding: 10vh 0;
  }
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media only screen and (min-width: 1024px) {
  .footer .wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
.footer list {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .footer list {
    text-align: left;
  }
}
.footer item a {
  color: #306F5E;
  text-decoration: none;
  font-weight: 700;
}
.footer .title {
  color: #306F5E;
  font-weight: 700;
}
@media only screen and (min-width: 1366px) {
  .footer .title {
    font-size: 20px;
  }
}
.footer .title:before {
  font-size: 15px;
  margin-right: 5px;
  font-family: "icomoon";
  color: #306f5e;
}
.footer .phone {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .footer .phone {
    text-align: left;
  }
}
.footer .phone a {
  text-decoration: none;
  color: #306F5E;
}
.footer .phone .title:before {
  content: "\e905";
}
.footer .address {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .footer .address {
    text-align: left;
  }
}
.footer .address .title:before {
  content: "\e904";
}
.footer .social .icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media only screen and (min-width: 1024px) {
  .footer .social .icons {
    margin-top: 10px;
    justify-content: flex-start;
  }
}
.footer .social .icons a {
  text-decoration: none;
}
.footer .social .icons a:before {
  font-family: "icomoon";
  color: #306f5e;
  font-size: 17px;
}
@media only screen and (min-width: 1024px) {
  .footer .social .icons a:before {
    font-size: 25px;
  }
}
.footer .social .icons .fb:before {
  content: "\e901";
}
.footer .social .icons .ig:before {
  content: "\e900";
}
.footer p {
  line-height: 1;
  color: #306F5E;
}

/*# sourceMappingURL=style.css.map */
