@import "mixins.scss";

.footer {
    padding: 5vh;
    @include screen(1024) {
        padding: 5vh 0;
    }
    @include screen(1366) {
        padding: 10vh 0;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        @include screen(1024) {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
        }
    }
    list {
        text-align: center;
        @include screen(1024) {
            text-align: left;
        }
    }
    item {
        a {
            color:#306F5E;
            text-decoration: none;
            font-weight: 700;
        }
    }
    .title {
        color:#306F5E;
        font-weight: 700;
        @include screen(1366) {
            font-size: 20px;
        }
        &:before {
            font-size: 15px;
            margin-right: 5px;
            font-family: "icomoon";
            color: #306f5e;
        }
    }
    .phone {
        text-align: center;
        @include screen(1024) {
            text-align: left;
        }
        a {
            text-decoration: none;
            color:#306F5E;
        }
        .title {
            &:before {
                content: "\e905";
            }
        }
    }
    .address {
        text-align: center;
        @include screen(1024) {
            text-align: left;
        }
        .title {
            &:before {
                content: "\e904";
            }
        }
    }
    .social {
        .icons {
            display: flex;
            justify-content: center;
            gap: 10px;
            @include screen(1024) {
                margin-top:10px;
                justify-content: flex-start;
            }
            a {
                text-decoration: none;
                &:before {
                    font-family: "icomoon";
                    color: #306f5e;
                    font-size: 17px;
                    @include screen(1024) {
                        font-size: 25px;
                    }
                }
            }
            .fb {
                &:before {
                    content: "\e901";
                }
            }
            .ig {
                &:before {
                    content: "\e900";
                }
            }
        }
    }
    p {
        line-height: 1;
        color: #306F5E;
    }
}