{% extends "block-base.twig" %}

{% block content %}
<footer class="footer {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="logo">
                <img src="/wp-content/themes/safe/blocks/theme-footer/logo.svg" alt="logo">
            </div>
            <div class="footer-menu">
                <list>
                    {% for item in footer_primary_menu.get_items %}
                    <item>
                        <a href="{{item.url}}">{{item.title}}</a>
                    </item>
                    {% endfor %}
                </list>
            </div>
            <div class="address">
                <span class="title">Address</span>
                <p>Castlebellingham,</p>
                <p>Ireland,</p>
                <p>A91WF50</p>
            </div>
            <div class="phone">
                <span class="title">FreePhone</span>
                <p><a href="tel:0862544785">086 254 4785</a></p>
                <p><a href="tel:0871514976">087 151 4976</a></p>
            </div>
            <div class="social">
                <span class="title">Connect with us</span>
                <div class="icons">
                    <a href="https://www.facebook.com/people/SAFE-Castlebellingham/100086391224622/" target="_blank" class="fb"></a>
                    <a href="https://instagram.com/safe_castlebellingham?igshid=MmJiY2I4NDBkZg==" target="_blank" class="ig"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
