{% extends "block-base.twig" %}

{% block content %}
<footer class="footer {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="inner">
            <div class="footer-logo">
                <svg id="Thrive_logo_footer" data-name="Thrive logo footer" xmlns="http://www.w3.org/2000/svg" width="211" height="74" viewBox="0 0 211 74">
                    <g id="Brand_Logo_Text_Only" data-name="Brand / Logo / Text Only">
                        <path id="Fill_56" data-name="Fill 56" d="M24.274,46A24.721,24.721,0,0,1,7.165,39.511,21.381,21.381,0,0,1,0,23,22.752,22.752,0,0,1,6.407,6.655,21.393,21.393,0,0,1,22.421,0c6.6,0,11.9,2.045,15.763,6.078S44,15.809,44,23v1.314H5.058l.166,1.48a17.507,17.507,0,0,0,6.576,11,19.587,19.587,0,0,0,12.474,4.272c5.817,0,10.581-1.934,14.161-5.749l3.543,3.449A24.591,24.591,0,0,1,24.274,46ZM22.664,5.749A16.254,16.254,0,0,0,12.1,9.343,17.422,17.422,0,0,0,6.2,18.656l-.333,1.47H38.131l-.164-1.144a13.316,13.316,0,0,0-4.741-9.312A15.427,15.427,0,0,0,22.664,5.749Z" transform="translate(167 27.99)" fill="#fff"/>
                        <path id="Fill_57" data-name="Fill 57" d="M40.2,0,22.66,40.745,5.279,0H0V0H0V.692H0V45.538H4.784V11.713L19.471,45.538h6.538L45.622,0Z" transform="translate(125.459 28.462)" fill="#fff"/>
                        <path id="Fill_58" data-name="Fill 58" d="M69.088,30.026q-7.863,0-14.44,6.4l-2.086,1.969v-8.04H47.75V69.543H44.52c0-6.393,0-17.42,0-17.51A22.543,22.543,0,0,0,38.1,36.09a21.015,21.015,0,0,0-15.723-6.646,21.15,21.15,0,0,0-15.8,6.728,24.862,24.862,0,0,0-1.731,2l0-8.879V0H.035V36.257L0,49.693H5.094A17.605,17.605,0,0,1,10.026,39.7a16.541,16.541,0,0,1,12.354-5.333A16.288,16.288,0,0,1,34.652,39.7,17.813,17.813,0,0,1,39.7,52.034c0,.09,0,11.116,0,17.509H39.7V74h.007v0H44.52v0h8.043V50.535A18.207,18.207,0,0,1,57.938,39.46a15.279,15.279,0,0,1,11.151-4.512,14.806,14.806,0,0,1,8.182,2.625l2.567-4.265a17.728,17.728,0,0,0-10.749-3.282" transform="translate(39.919)" fill="#fff"/>
                        <path id="Fill_59" data-name="Fill 59" d="M40.627,33.336a17.478,17.478,0,0,1-5.064,10.5,16.979,16.979,0,0,1-12.624,5.325,17.246,17.246,0,0,1-12.707-5.325,17.4,17.4,0,0,1-5.281-12.7c0-.053,0-8.765,0-16.959H28.665V9.267H4.952c0-5.17,0-9.23,0-9.267H0C0,.116,0,31.024,0,31.14a22.157,22.157,0,0,0,6.684,16.22,22.067,22.067,0,0,0,16.256,6.716,21.939,21.939,0,0,0,16.173-6.635,21.963,21.963,0,0,0,6.51-14.106Z" transform="translate(0 19.923)" fill="#fff"/>
                        <path id="Fill_60" data-name="Fill 60" d="M1.323,7.3A3.906,3.906,0,0,1,0,4.347,4.165,4.165,0,0,1,1.323,1.319,4.176,4.176,0,0,1,4.355,0,3.938,3.938,0,0,1,7.31,1.319,4.292,4.292,0,0,1,8.554,4.347,4.019,4.019,0,0,1,7.31,7.3,4.034,4.034,0,0,1,4.355,8.538,4.284,4.284,0,0,1,1.323,7.3" transform="translate(122.608 14.231)" fill="#fff"/>
                    </g>
                </svg>
            </div>
            <div class="footer-menu">
                <div class="footer-title-holder">
                    <div class="footer-title">{{footer_primary_menu.title}}</div>
                </div>
                <ul class="footer-menu-list">
                    {% for item in footer_primary_menu.get_items %}
                    <li class="footer-item">
                        <a class="footer-link" href="{{item.url}}">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-menu">
                <div class="footer-title-holder">
                    <div class="footer-title">{{footer_secondary_menu.title}}</div>
                </div>
                <ul class="footer-menu-list">
                    {% for item in footer_secondary_menu.get_items %}
                    <li class="footer-item">
                        <a class="footer-link" href="{{item.url}}">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-address">
                <div class="footer-title-holder">
                    <div class="footer-icon loc"></div>
                    <div class="footer-title">Address</div>
                </div>
                <p>Trojan IT <br>
                Boyle<br>
                Co Roscommon<br>
                Ireland
                </p>
            </div>
            <div class="footer-info">
                <div class="footer-phone">
                    <div class="footer-title-holder">
                        <div class="footer-icon phone"></div>
                        <div class="footer-title">Phone</div>
                    </div>
                    <a class="footer-link" href="tel:00353719662552">+353 71 966 2552</a>
                </div>
                <div class="footer-email">
                    <div class="footer-title-holder">
                        <div class="footer-icon email"></div>
                        <div class="footer-title">Email</div>
                    </div>
                    <a class="footer-link" href="mailto:info@safeaccounts.com">info@safeaccounts.com</a>
                </div>
                <div class="footer-social">
                    <div class="footer-title-holder">
                        <div class="footer-title">Connect with us</div>
                    </div>
                    <ul class="footer-social-list">
                        <li class="social fb"><a href="#" target="_blank"></a></li>
                        <li class="social tw"><a href="#" target="_blank"></a></li>
                        <li class="social li"><a href="https://www.linkedin.com/company/safe-software/" target="_blank"></a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
