.single-event {
  padding: 36px;
  /* Element | https://wordpress-984159-3544898.cloudwaysapps.com/event/hosted-dinner-with-chef-monica-geller/ */
  /* Element | https://wordpress-984159-3544898.cloudwaysapps.com/event/hosted-dinner-with-chef-monica-geller/ */
}
.single-event .tribe-events-back {
  margin-bottom: 0.5em;
}
.single-event .tribe-events-back a {
  color: #009368;
  font-weight: 600;
  text-decoration: none;
}
.single-event .tribe-events-single-section.tribe-events-event-meta h2 {
  color: #306F5E;
  font-size: 20px;
}
.single-event .tribe-events-start-date-label {
  color: #306F5E;
  font-weight: 600;
}
.single-event .tribe-events-start-time-label {
  color: #306F5E;
  font-weight: 600;
}
.single-event .tribe-organizer-tel-label {
  color: #306F5E;
  font-weight: 600;
}
.single-event .tribe-organizer-email-label {
  color: #306F5E;
  font-weight: 600;
}
.single-event .tribe-events-c-subscribe-dropdown__list-item-link {
  color: #306F5E;
  font-weight: 600;
  text-decoration: none;
}
.single-event .tribe-events-abbr {
  color: #6F7775;
}
.single-event .tribe-organizer-tel {
  color: #6F7775;
}
.single-event .tribe-organizer-email {
  color: #6F7775;
}
.single-event .tribe-events-single-section a {
  text-decoration: none;
  color: #306F5E;
}
.single-event .tribe-events-single-event-title {
  color: #213430;
  font-weight: 700;
}
.single-event .tribe-events-schedule > h2:nth-child(1) {
  font-size: 16px;
  font-weight: 400;
  color: #213430;
}
.single-event .tribe-events-single-event-description > p {
  font-size: 16px;
}
.single-event .tribe-common-c-btn-border {
  border: 2px solid #306F5E;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.single-event .tribe-events-c-subscribe-dropdown__button-text {
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  color: #306F5E;
}
.single-event .single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-icon,
.single-event .tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button-icon {
  margin-top: 6px;
}
.single-event .tribe-organizer-url > a:nth-child(1) {
  color: #306F5E;
  text-decoration: none;
}
.single-event .tribe-events-schedule {
  margin-bottom: 0;
}
.single-event #tribe-events-content > hr {
  margin-top: 0;
  height: 4px;
  margin-bottom: 1em;
}
.single-event .tribe-events-c-subscribe-dropdown {
  max-width: 265px;
}

@media only screen and (min-width: 768px) {
  .single-event {
    /* Inline #24 | https://wordpress-984159-3544898.cloudwaysapps.com/event/hosted-dinner-with-chef-monica-geller/ */
    /* Inline #21 | https://wordpress-984159-3544898.cloudwaysapps.com/event/hosted-dinner-with-chef-monica-geller/ */
  }
  .single-event .tribe-events-single-section {
    flex: 0 0 50%;
  }
  .single-event .tribe-common-c-btn-border {
    cursor: pointer;
  }
  .single-event .tribe-events-schedule {
    margin-bottom: 1em;
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
