.statistics-highlight {
  position: relative;
  background: #306F5E;
  z-index: 1;
}
.statistics-highlight:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("left.svg");
  background-repeat: no-repeat !important;
  background-position-x: left;
  background-position-y: bottom;
  background-size: 45%;
}
@media only screen and (min-width: 1024px) {
  .statistics-highlight:before {
    background: url("left.svg");
    background-repeat: no-repeat !important;
    background-position-x: left;
    background-position-y: top;
  }
}
.statistics-highlight .container {
  padding-top: 5vh;
  padding-bottom: 15vh;
}
@media only screen and (min-width: 768px) {
  .statistics-highlight .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.statistics-highlight .box {
  text-align: center;
}
.statistics-highlight .box + .box {
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .statistics-highlight .box + .box {
    margin-top: 0px;
  }
}
.statistics-highlight .line {
  width: 60px;
  height: 4px;
  background: #95CDCD;
  margin: auto;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .statistics-highlight .line {
    margin-bottom: 10px;
    width: 80px;
  }
}
@media only screen and (min-width: 1368px) {
  .statistics-highlight .line {
    margin-bottom: 12px;
    width: 110px;
  }
}
.statistics-highlight .number {
  color: white;
  font-size: 48px;
  line-height: 1.25;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .statistics-highlight .number {
    font-size: 55px;
  }
}
@media only screen and (min-width: 1368px) {
  .statistics-highlight .number {
    font-size: 68px;
  }
}
.statistics-highlight .label {
  color: white;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
}
.statistics-highlight.is-style-light {
  background: transparent;
}
.statistics-highlight.is-style-light .number,
.statistics-highlight.is-style-light .label {
  color: #306F5E;
}
.statistics-highlight.is-style-light:before {
  content: unset !important;
}

/*# sourceMappingURL=style.css.map */
