@import "mixins.scss";

.statistics-highlight {
  position: relative;
  background: #306F5E;
  z-index: 1;
  &:before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: url('left.svg');
    background-repeat: no-repeat!important;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 45%;
    @include screen(1024) {
    background:url('left.svg');
    background-repeat: no-repeat !important;
    background-position-x: left;
    background-position-y: top;
    }
  }
  .container {
    padding-top:5vh;
    padding-bottom: 15vh;
  }
  .wrapper {
    @include screen(768) {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  .box {
    text-align: center;
    & + .box {
      margin-top:25px;
      @include screen(768) {
        margin-top:0px;
      }
    }
  }
  .line {
    width: 60px;
    height: 4px;
    background: #95CDCD;
    margin:auto;
    margin-bottom: 5px;
    @include screen(768) {
      margin-bottom: 10px;
      width: 80px;
    }
    @include screen(1368) {
      margin-bottom: 12px;
      width: 110px;
    }
  }
  .number {
    color:white;
    font-size: 48px;
    line-height: 1.25;
    font-weight:700;
    @include screen(768) {
      font-size: 55px;
    }
    @include screen(1368) {
      font-size: 68px;
    }
  }
  .label {
    color:white;
    font-size: 20px;
    line-height: 1.5;
    font-weight:600;
  }
  &.is-style-light {
    background:transparent;
    .number,
    .label {
      color:#306F5E;
    }
    &:before {
      content:unset !important;
    }
  }
}