{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
      <div class="wrapper">
        {% for item in fields.content.items %}
        <div class="box">
          <span class="number">{{item.number}}</span>
          <div class="line"></div>
          <span class="label">{{item.label}}</span>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
