@use "mixins" as *;

body {
    margin:0;
    background: #FCFCF6;
}

.container {
    margin: 0 auto;
    width: auto;
    max-width: 960px;
    &.is-style-fluid {
        max-width: none!important;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
    }
    &-xl,
    &-sm {
        margin: 0 auto;
        width: auto;
    }
}

.container {
    @include screen(1024) {
        max-width: 90vw;
    }
    @include screen(1366) {
        max-width: 1280px;
    }
    @include screen(1536) {
        max-width: 1366px;
    }
    &-sm {
        @include screen(1024) {
            max-width: 65vw;
        }
    }
    &-xl {
        @include screen(1024) {
            max-width: 960px;
        }
        @include screen(1280) {
            max-width: 1200px;
        }
        @include screen(1366) {
            max-width: 1366px;
        }
    }
}


.size-full {
    width: 100%;
}

.aligncenter {
    text-align: center;
}

.preview {
    width: 100%;
    max-width: 100%;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.hide {
    &-mobile {
        @include screen(0,1279) {
            display:none !important;
        }
    }
    &-desktop {
        @include screen(1280) {
            display:none !important;
        }
    }
}

.wp-site-blocks {
    overflow: hidden;
}

hr {
    background: #95CDCD;
    border: 0 !important;
    border-radius: 50px;
    width: 60px;
    height: 3px;
    margin-left: 0;
}

.post-type-archive-tribe_events {

}
:root {
    --tec-color-icon-focus: #306f5e !important;
    --tec-color-event-icon-hover: #306f5e !important;
    --tec-color-accent-primary: #306f5e !important;
    --tec-color-accent-primary-hover: #306f5e !important;
    --tec-color-accent-primary-active: #306f5e !important;
}