@use "mixins" as *;

@import "/home/web/www/html/wp-content/themes/safe/node_modules/rfs/scss.scss";


@font-face {
  font-family: "icomoon";
  src: url('/wp-content/themes/safe/assets/fonts/icomoon.ttf') format("truetype"),
      url('/wp-content/themes/safe/assets/fonts/icomoon.woff') format("woff"),
      url('/wp-content/themes/safe/assets/fonts/icomoon.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/safe/assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/safe/assets/fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/wp-content/themes/safe/assets/fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/safe/assets/fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/wp-content/themes/safe/assets/fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/wp-content/themes/safe/assets/fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  @include screen(1366) {
    font-size: 18px;
  }
}

p {
  margin: 0.7em 0;
  line-height: 1.44;
  color:rgba(111, 119, 117, 1);
}

@include headings() {
  margin: 0.4em 0;
  line-height: 1.14;
  font-weight: 600;
  color:rgba(0, 47, 61, 1);
}

h {
  &1 {
    @include font-size(3rem);
    font-weight: 700;
  }
  &2 {
    @include font-size(2.22rem);
  }
  &3 {
    @include font-size(1.55rem);
  }
  &4 {
    @include font-size(1.33rem);
  }
  &5 {
    @include font-size(1.11rem);
  }
  &6 {
    @include font-size(0.9rem);
  }
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 1em 0;
  padding-left: 20px;
  @include screen(1280) {
    padding-left: 25px;
  }
  li {
  }
  li + li {
      margin-top:6px;
      @include screen(1280) {
          margin-top:10px;
      }
  }
}

ol {
  list-style:decimal;
  margin: 1em 0;
  padding-left: 20px;
  @include screen(1280) {
    padding-left: 25px;
  }
  li {

  }
  li + li {
      margin-top:7px;
      @include screen(1280) {
          margin-top:10px;
      }
  }
}

.has-green-pea-color {
  color:#26684C !important;
}

.has-green-pea-background-color {
  background:#26684C !important;
}

.has-rajah-color {
  color:#95CDCD !important;
}

.has-white-color {
  color:white !important;
}

.has-rajah-background-color {
  background:#95CDCD !important;
}

a[data-type="URL"] {
  color:#95CDCD;
  font-weight:700;
}

.flex a {
  font-weight: 600;
  color: #306f5e;
}