@import "mixins.scss";

.hero-one {
  background: #fcfcf6;
  position: relative;
  @include screen(1280) {
    height: calc(100vh - 174px);
  }
  .background {
    @include screen(1024) {
      background: var(--bg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      z-index: 1;
      position: absolute;
      top: -50px;
      right: 0;
      bottom: -2px;
      width: 60vw;
    }
    @include screen(1280) {
      width: 100vw;
    }
    img {
      @include screen(1024) {
        display:none;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    height: 100%;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    z-index: 2;
    padding: 15px;
    @include screen(380) {
      padding: 36px;
    }
    @include screen(1024) {
      padding: 36px 0;
      width: 50%;
    }
  }
}