@import "mixins.scss";

.hero-one {
    background: #fcfcf6;
    position: relative;
    @include screen(1024) {
      height: calc(100vh - 190px);
    }
    .dsp-c {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 58.3vw;
      background: var(--bg) center center/cover;
      z-index: 1;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12px;
      margin: 0 auto;
      height: 100%;
      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
        gap: 12px;
        z-index: 2;
        margin-left: 20px;
      }
    }
  }

  @media (max-width : 830px) {
    .hero-one {
      .background {
        position: relative;
        width: 100%;
        height: 85vw;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .container {
        width: 90%;
        .text {
          width: 95%;
        }
      }
    }
  }

  @media (max-width : 670px ) {
    .hero-one {
      .container {
        height: auto;
        margin-top: 22px;
      }
    }
  }

  @media (max-width : 200px) {
    .hero-one {
      .container {
        margin-top: 11vw;
        .text {
          margin-left: unset;
        }
      }
    }
  }
  