.hero-one {
  background: #fcfcf6;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .hero-one {
    height: calc(100vh - 174px);
  }
}
@media only screen and (min-width: 1024px) {
  .hero-one .background {
    background: var(--bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: 1;
    position: absolute;
    top: -50px;
    right: 0;
    bottom: -2px;
    width: 60vw;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-one .background {
    width: 100vw;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-one .background img {
    display: none;
  }
}
.hero-one .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  height: 100%;
}
.hero-one .flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  z-index: 2;
  padding: 15px;
}
@media only screen and (min-width: 380px) {
  .hero-one .flex {
    padding: 36px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-one .flex {
    padding: 36px 0;
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
