@import "mixins.scss";

.hero-one {
    background: #fcfcf6;
    position: relative;
    .dsp-c {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h2 {
      font-size: 3.375rem;
      line-height: 3.75rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: #306F5E;
    }
    h4 {
      font-size: 1.25rem;
      line-height: 1.625rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: #306F5E;
    }  
    p {
      font-size: 1.125rem;
      line-height: 1.625rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: #306F5E;
    }
    a {
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      color: #306F5E;
      text-align: center;
      text-decoration: none;
    }
    .background {
      position: absolute;
      top: 0;
      right: 0;
      width: 58.3vw;
      height: 42.76vw;
      background: url('hero-one.svg') center center/cover;
      z-index: 1;
    }
    .container {
      max-width: 1320px;
      display: flex;
      height: 42.76vw;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 12px;
      margin: 0 auto;
      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        gap: 12px;
        z-index: 2;
        margin-left: 20px;
      }
      .buttons  {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        margin-left: 20px;
  
        .btn_right,
        .btn_left {
          width: 19.84vw;
          height: 4.39vw;
          max-width: 262px;
          max-height: 58px;
          min-height: 52px;
          z-index: 2;
          cursor: pointer;
        }
        .btn_left {
          background: #95CDCD;
          transition: background 0.3s ease-out;
          &:hover {
            background: #FFB414;
          }
        }
        .btn_right {
          background: transparent;
          border: 2px solid #306F5E;
          transition: background 0.3s ease-out;
          &:hover {
            background: #009368;
            a {
              color: white;
            }
          }
        }
      }
    }
  }
  @media(max-width : 1320px) {
    .hero-one {
      h2 {
        font-size: 4.09vw;
        line-height: 4.55vw;
      }
    }
  }
  @media (max-width : 830px) {
    .hero-one {
      h2 {
        font-size: 6.5vw;
        line-height: 7.23vw;
      }
      .background {
        position: relative;
        width: 100%;
        height: 85vw;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .container {
        width: 90%;
        .text {
          width: 95%;
        }
      }
    }
  }
  @media (max-width : 670px ) {
    .hero-one {
      .container {
        height: auto;
        margin-top: 22px;
        .buttons {
          flex-direction: column;
          .btn_left,
          .btn_right {
            width: 60vw;
            max-width: 319px;
            min-width: 262px;
            height: 52px;
            max-height: unset;
            min-height: unset;
          }
        }
      }
    }
  }
  @media ( max-width : 520px) {
    .hero-one {
      h2 {
        font-size: 2.125rem;
        line-height: 2.625rem;
      }
      h4 {
        font-size: 1.125rem;
        line-height: 1.625rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.25rem;
      }
      a {
        font-size: 1rem;
      }
    }
  }
  @media (max-width : 390px) {
    .hero-one {
      .container {
        .buttons {
          .btn_left,
          .btn_right {
            width: 82vw;
            min-width: unset;
          }
        }
      }
    }
  }
  @media (max-width : 200px) {
    .hero-one {
      h2 {
        font-size: 17vw;
        line-height: 21vw;
      }
      h4 {
        font-size: 9vw;
        line-height: 13vw;
      }
      p {
        font-size: 8vw;
        line-height: 10vw;
      }
      a {
        font-size: 8vw;
        line-height: 11vw;
      }
      .container {
        margin-top: 11vw;
        .text,
        .buttons {
          margin-left: unset;
        }
        .buttons {
          gap: 8vw;
          .btn_left,
          .btn_right {
            height: 26vw;
          }
        }
      }
    }
  }
  