{% extends "block-base.twig" %}

{% block content %}
<section id="block_1">
  <div class="background"></div>
  <div class="container">
    <div class="text">
      <h4>Suicide doesn't do waiting lists</h4>
      <h2>Help us prevent suicide and assist everyone in need of help</h2>
      <p>Every €20 raised is 1 hour therapy for someone.</p>
    </div>
    <div class="buttons dsp-c">
      <div class="btn_left dsp-c">
        <a href="#">Donate Now</a>
      </div>
      <div class="btn_right dsp-c">
        <a href="#">Ask For Help</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
