html {
  font-family: "Poppins", sans-serif;
}

.coming-soon {
  background: #fbfcf6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coming-soon .wrapper {
  text-align: center;
  padding: 20px;
}
@media only screen and (min-width: 390px) {
  .coming-soon .wrapper {
    padding: 30px;
  }
}
.coming-soon h1 {
  font-weight: 600;
}
.coming-soon h2 {
  font-weight: 600;
}
.coming-soon p {
  font-weight: 500;
}
.coming-soon .logo {
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
  background: white;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.16);
}
@media only screen and (max-width: 500px) {
  .coming-soon .logo img {
    max-width: 200px;
  }
}
.coming-soon .columns {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.coming-soon .button {
  transition: all 0.3s ease-out;
  border: 2px solid #009368;
  color: #305f49;
  font-size: 20px;
  text-decoration: none;
  font-weight: 800;
  display: block;
  width: fit-content;
  margin: 20px auto;
  margin-top: 40px;
  padding: 20px 40px;
  border-radius: 5px;
}
.coming-soon .button:hover {
  color: white;
  background: #009368;
  border-color: #009368;
}
.coming-soon .bullet {
  color: white;
  background: #305f49;
  border-radius: 125px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  padding: 20px 30px;
}
@media only screen and (min-width: 768px) {
  .coming-soon .bullet {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .coming-soon .bullet {
    padding: 25px;
    font-size: 40px;
  }
}
@media only screen and (min-width: 1536px) {
  .coming-soon .bullet {
    padding: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
