@import "mixins.scss";

html {
    font-family: 'Poppins', sans-serif;
}

.coming-soon {
    background:#fbfcf6;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        text-align: center;
        padding: 20px;
        @include screen(390) {
            padding: 30px;
        }
    }
    h1 {
        font-weight:600;
    }
    h2 {
        font-weight:600;
    }
    p {
        font-weight: 500;
    }
    .logo {
        width: fit-content;
        margin: auto;
        margin-bottom: 50px;
        background: white;
        border-radius: 50%;
        padding: 20px;
        box-shadow: 6px 10px 10px rgba(0,0,0,.16);
        img {
            @include screen(0,500) {
                max-width: 200px;
            }
        }
    }
    .columns {
        display:flex;
        justify-content:space-around;
        margin: 20px 0;
    }
    .button {
        transition:all 0.3s ease-out;
        border: 2px solid #009368;
        color: #305f49;
        font-size: 20px;
        text-decoration: none;
        font-weight: 800;
        display: block;
        width: fit-content;
        margin: 20px auto;
        margin-top: 40px;
        padding: 20px 40px;
        border-radius: 5px;
        &:hover {
            color:white;
            background:#009368;
            border-color:#009368;
        }
    }
    .bullet {
        color: white;
        background: #305f49;
        border-radius: 125px;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        padding: 20px 30px;
        @include screen(768) {
            font-size: 30px;
        }
        @include screen(1280) {
            padding:25px;
            font-size: 40px;
        }
        @include screen(1536) {
            padding:30px;
        }
    }
}