{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="logo">{{imageElement(fields.content.image)}}</div>
            <h1>SAFE WALK 2023</h1>
            <h3>Castlebellingham • Stabannon • Annagassan</h3>
            <p>Sausage Bap, Tea/Coffee, SAFE Beanie Hat For Every Participant.</p>
            <p><strong>Every €20 Raised is 1 Hours Therapy For Someone In Need.</strong></p>
            <a href="https://www.eventbrite.com/e/safe-walk-2023-castlebellingham-stabannon-togher-tickets-577025387467" class="button">Get Your Tickets</a>
            <div class="columns">
                <div class="col"><h2>Adult €25</h2></div>
                <div class="col"><h2>Child €15</h2></div>
            </div>
            <div class="bullet">May 6th - Signing in from 4:00 AM, Walking from 5:00 AM</div>
        </div>
    </div>
</section>
{% endblock %}
