@import "mixins.scss";

.flex-center {
  position: relative;
  z-index: 1;
  padding: 5vh 0;
  .wrapper {
    padding:36px;
    @include screen(1024) {
      padding:0;
      max-width: 60vw;
      margin: auto;
    }
    @include screen(1024) {
      max-width: 800px;
    }
    @include screen(1927) {
      max-width: 45vw;
    }
  }
}