.flex-center {
  position: relative;
  z-index: 1;
  padding: 5vh 0;
}
.flex-center .wrapper {
  padding: 36px;
}
@media only screen and (min-width: 1024px) {
  .flex-center .wrapper {
    padding: 0;
    max-width: 60vw;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .flex-center .wrapper {
    max-width: 800px;
  }
}
@media only screen and (min-width: 1927px) {
  .flex-center .wrapper {
    max-width: 45vw;
  }
}

/*# sourceMappingURL=style.css.map */
