{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="container">
    <div class="wrapper">
      <div class="flex">
        <InnerBlocks/>
      </div>
    </div>
  </div>
</section>
{% endblock %}
