.hero-two {
  background: url("bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 5vh 0;
}
@media only screen and (min-width: 1280px) {
  .hero-two {
    padding-top: 8vh;
  }
}
.hero-two .flex {
  padding: 36px;
}
@media only screen and (min-width: 1024px) {
  .hero-two .flex {
    padding: 36px 0;
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
