@import "mixins.scss";

.hero-two {
  background: url('bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 5vh 0;
  @include screen(1280) {
    padding-top: 8vh;
  }
  .flex {
    padding: 36px;
    @include screen(1024) {
      padding: 36px 0;
      width: 50%;
    }
  }
}