{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="background" style="--bg:url({{fields.content.image.url}})">
    <img src="{{fields.content.image.url}}">
  </div>
  <div class="container">
    <div class="flex">
      <InnerBlocks/>
    </div>
  </div>
</section>
{% endblock %}
