{% extends "block-base.twig" %}

{% block content %}
<div class="spacer hide-mobile"></div>
<section class="{{blockClasses(block)}}" {{blockSection(block)}} style="--bg:url('/wp-content/themes/safe/blocks/thank-you/bg.png')">
    <div class="container">
        <div class="wrapper">
            <div class="left">404</div>
            <div class="right">
                <div class="top">Oh No!</div>
                <div class="mid">The page you are looking for doesn’t exist or has been moved.</div>
                <div class="bot"><a href="/">Go Back</a></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
