@import "mixins.scss";

#header {
    background: #FCFCF6;
    @include screen(768) {
        background:transparent !important;
    }
    li {
        list-style: none;
    }

    .mobile_menu_drop {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background: #306F5E;
        box-shadow: 0 3px 6px #00000029;
        padding: 30px 0;
        gap: 25px;
        z-index: 9;
        transform: translateY(-102%);
        position: absolute;
        transition: all .6s ease-in-out;
        @include screen(768) {
            display: none !important;
        }
        list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 25px;
        }
        a,
        p {
            color: white;
            text-align: center;
        }

        .btn_mobile {
            width: 319px;
            height: 52px;
            background: #95CDCD;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s ease-out;
            cursor:pointer;
            a {
                color: #306F5E;
                text-decoration: none;
                font-weight: 600;
            }

            &:hover {
                background: #FFB414;
            }
        }

        .connect_mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }

    .navbar {
        width: 100%;

        position: relative;
        z-index: 10;
        background: #fcfcf6;
        @include screen(768) {
            background:transparent !important;
        }
        .navbar_inner {
            padding: 10px;
            justify-content: space-between;
            margin: 0 auto;

            .menu_btn {
                display: none;
                .check {
                    display:none;
                }
                a {
                    color: rgba(48, 111, 94, 1);
                    text-decoration: none;
                    font-weight: 600;
                }
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 193px;
                height: 58px;
                border: 1px solid #306F5E;
                border-radius: 5px;
                background: #FCFCF6;
                transition: background 0.3s ease-out;
                a {
                    color: rgba(48, 111, 94, 1);
                    text-decoration: none;
                    font-weight: 600;
                }
                &:hover {
                    background: #009368;
                    border: 1px solid #009368;

                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .icons {
        display: flex;
        gap: 10px;
        a {
            text-decoration: none;
            &:before {
                font-family: "icomoon";
                color: white;
                font-size: 17px;
            }
        }
        .fb {
            &:before {
                content: "\e901";
            }
        }
        .ig {
            &:before {
                content: "\e900";
            }
        }
    }
}

@media (max-width : 1000px) {
    #header {
        .navbar {
            .navbar_inner {
                .logo {
                    width: 13vw;
                    height: 10vw;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .btn {
                    width: 19.3vw;
                    height: 5.8vw;
                }
            }
        }
    }
}

@media (max-width : 750px) {
    #header {
        .navbar {
            .navbar_inner {
                .logo {
                    width: 17.33vw;
                    height: 14vw;
                    min-width: 76px;
                    min-height: 62px;
                }
                .navbar_block,
                .btn {
                    display: none;
                }
                .menu_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 108px;
                    height: 42px;
                    border: 1px solid #306F5E;
                    border-radius: 5px;
                    gap: 10px;
                }
            }
        }
    }
}

@media (max-width : 630px) {
    #header {
        .navbar {
            .navbar_inner {
                padding: 3px 36px;
            }
        }
    }
}

@media (max-width : 340px) {
    #header {
        .navbar {
            .navbar_inner {
                padding: 3px 18px;
            }
        }

        .mobile_menu_drop {
            .btn_mobile {
                width: 82vw;
                height: 13vw;
            }
        }
    }
}

@media (max-width : 240px) {
    #header {
        .navbar {
            .navbar_inner {
                flex-direction: column;

                .logo {
                    width: 50vw;
                    height: 40vw;
                    min-width: unset;
                    min-height: unset;
                }

                .menu_btn {
                    width: 60vw;
                    height: 19.44vw;
                }
            }
        }
    }
}

.navbar {
    &_inner {
        display: flex;
        align-items: center;
    }
}

@include screen(751) {
    .navbar {
        &_line {
            display: flex;
            gap: 3.5vw;
            item {
                position:relative;
                &:before {
                    transition:all 0.5s ease-out;
                    content:"";
                    position: absolute;
                    height:3px;
                    background:#95CDCD;
                    left:0;
                    right:0;
                    top: 30px;
                    opacity:0;
                }
                &:hover {
                    &:before {
                        opacity:1;
                    }
                }
            }
        }
        .logo {
            img {
                max-height: 67px;
            }
        }
    }
}

@include screen(1280) {
    .navbar {
        &_inner {
            padding: 20px 0 !important;
        }
        &_line {
            gap:55px
        }
    }
}

.menu-open {
    .menu_btn {
        .uncheck {
            display:none;
        }
        .check {
            display:block !important;
        }
        .burger {
            span {
                &:nth-child(1) {
                    transform: translateY(5px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-5px) rotate(-45deg);
                }
            }
        }
    }
    .navbar_mobile_c {
        transform: translateY(0%) !important;
    }
}
.menu_btn {
    .check {
        display:none;
    }
}

.burger {
    cursor: pointer;
    height: 12px;
    width: 18px;
    top: -5px;
    right: 25px;
    transform: rotate(180deg);
    transform-origin: center;
    transition-duration: 200ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    span {
        transition: all 0.3s ease-out;
        background-color: #306f5e;
        position: absolute;
        display: block;
        height: 2px;
        width: 18px;
        border-radius: 5px;
        &:nth-child(1) {
            top: calc(50% - 5px);
        }
        &:nth-child(2) {
            top: calc(50% - 0px);
        }
        &:nth-child(3) {
            top: calc(50% + 5px);
        }
    }
}

.theme-header {
    item a {
        text-decoration: none;
        color:#306F5E;
        font-weight: 600;
        font-size: 16px;
        @include screen(1366) {
            font-size: 18px;
        }
    }
}