#header {
  background: #FCFCF6;
}
@media only screen and (min-width: 768px) {
  #header {
    background: transparent !important;
  }
}
#header li {
  list-style: none;
}
#header .mobile_menu_drop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: #306F5E;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  padding: 30px 0;
  gap: 25px;
  z-index: 9;
  transform: translateY(-102%);
  position: absolute;
  transition: all 0.6s ease-in-out;
}
@media only screen and (min-width: 768px) {
  #header .mobile_menu_drop {
    display: none !important;
  }
}
#header .mobile_menu_drop list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
#header .mobile_menu_drop a,
#header .mobile_menu_drop p {
  color: white;
  text-align: center;
}
#header .mobile_menu_drop .btn_mobile {
  width: 319px;
  height: 52px;
  background: #95CDCD;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-out;
  cursor: pointer;
}
#header .mobile_menu_drop .btn_mobile a {
  color: #306F5E;
  text-decoration: none;
  font-weight: 600;
}
#header .mobile_menu_drop .btn_mobile:hover {
  background: #FFB414;
}
#header .mobile_menu_drop .connect_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#header .navbar {
  width: 100%;
  position: relative;
  z-index: 10;
  background: #fcfcf6;
}
@media only screen and (min-width: 768px) {
  #header .navbar {
    background: transparent !important;
  }
}
#header .navbar .navbar_inner {
  padding: 10px;
  justify-content: space-between;
  margin: 0 auto;
}
#header .navbar .navbar_inner .menu_btn {
  display: none;
}
#header .navbar .navbar_inner .menu_btn .check {
  display: none;
}
#header .navbar .navbar_inner .menu_btn a {
  color: rgb(48, 111, 94);
  text-decoration: none;
  font-weight: 600;
}
#header .navbar .navbar_inner .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 193px;
  height: 58px;
  border: 1px solid #306F5E;
  border-radius: 5px;
  background: #FCFCF6;
  transition: background 0.3s ease-out;
}
#header .navbar .navbar_inner .btn a {
  color: rgb(48, 111, 94);
  text-decoration: none;
  font-weight: 600;
}
#header .navbar .navbar_inner .btn:hover {
  background: #009368;
  border: 1px solid #009368;
}
#header .navbar .navbar_inner .btn:hover a {
  color: white;
}
#header .icons {
  display: flex;
  gap: 10px;
}
#header .icons a {
  text-decoration: none;
}
#header .icons a:before {
  font-family: "icomoon";
  color: white;
  font-size: 17px;
}
#header .icons .fb:before {
  content: "\e901";
}
#header .icons .ig:before {
  content: "\e900";
}

@media (max-width: 1000px) {
  #header .navbar .navbar_inner .logo {
    width: 13vw;
    height: 10vw;
  }
  #header .navbar .navbar_inner .logo img {
    width: 100%;
    height: 100%;
  }
  #header .navbar .navbar_inner .btn {
    width: 19.3vw;
    height: 5.8vw;
  }
}
@media (max-width: 750px) {
  #header .navbar .navbar_inner .logo {
    width: 17.33vw;
    height: 14vw;
    min-width: 76px;
    min-height: 62px;
  }
  #header .navbar .navbar_inner .navbar_block,
  #header .navbar .navbar_inner .btn {
    display: none;
  }
  #header .navbar .navbar_inner .menu_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 42px;
    border: 1px solid #306F5E;
    border-radius: 5px;
    gap: 10px;
  }
}
@media (max-width: 630px) {
  #header .navbar .navbar_inner {
    padding: 3px 36px;
  }
}
@media (max-width: 340px) {
  #header .navbar .navbar_inner {
    padding: 3px 18px;
  }
  #header .mobile_menu_drop .btn_mobile {
    width: 82vw;
    height: 13vw;
  }
}
@media (max-width: 240px) {
  #header .navbar .navbar_inner {
    flex-direction: column;
  }
  #header .navbar .navbar_inner .logo {
    width: 50vw;
    height: 40vw;
    min-width: unset;
    min-height: unset;
  }
  #header .navbar .navbar_inner .menu_btn {
    width: 60vw;
    height: 19.44vw;
  }
}
.navbar_inner {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 751px) {
  .navbar_line {
    display: flex;
    gap: 3.5vw;
  }
  .navbar_line item {
    position: relative;
  }
  .navbar_line item:before {
    transition: all 0.5s ease-out;
    content: "";
    position: absolute;
    height: 3px;
    background: #95CDCD;
    left: 0;
    right: 0;
    top: 30px;
    opacity: 0;
  }
  .navbar_line item:hover:before {
    opacity: 1;
  }
  .navbar .logo img {
    max-height: 67px;
  }
}
@media only screen and (min-width: 1280px) {
  .navbar_inner {
    padding: 20px 0 !important;
  }
  .navbar_line {
    gap: 55px;
  }
}
.menu-open .menu_btn .uncheck {
  display: none;
}
.menu-open .menu_btn .check {
  display: block !important;
}
.menu-open .menu_btn .burger span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.menu-open .menu_btn .burger span:nth-child(2) {
  opacity: 0;
}
.menu-open .menu_btn .burger span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
.menu-open .navbar_mobile_c {
  transform: translateY(0%) !important;
}

.menu_btn .check {
  display: none;
}

.burger {
  cursor: pointer;
  height: 12px;
  width: 18px;
  top: -5px;
  right: 25px;
  transform: rotate(180deg);
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
}
.burger span {
  transition: all 0.3s ease-out;
  background-color: #306f5e;
  position: absolute;
  display: block;
  height: 2px;
  width: 18px;
  border-radius: 5px;
}
.burger span:nth-child(1) {
  top: calc(50% - 5px);
}
.burger span:nth-child(2) {
  top: calc(50% - 0px);
}
.burger span:nth-child(3) {
  top: calc(50% + 5px);
}

.theme-header item a {
  text-decoration: none;
  color: #306F5E;
  font-weight: 600;
  font-size: 16px;
}
@media only screen and (min-width: 1366px) {
  .theme-header item a {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
