{% extends "block-base.twig" %}

{% block content %}
{% set fields = fn('get_field','header_settings', 'option') %}
<header class="header {{blockClasses(block)}}" {{blockSection(block)}}>
  <div id="header">
    <div class="navbar">
      <div class="container navbar_inner">
        <a class="logo" href="/">
          <img src="{{fields.logo.url}}" alt="header_logo">
        </a>
        <div class="navbar_block">
          <list class="navbar_line">
          {% for item in header_primary_menu.get_items %}
            <item>
              <a href="{{item.url}}">{{item.title}}</a>
            </item>
          {% endfor %}
          </list>
        </div>
        <div class="btn">
          <a href="/donate" class="bigger">Donate Now</a>
        </div>
        <div class="menu_btn" onclick="mobileMenu()">
          <div class="mtoggler burger">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </div>
          <div class="btn_name">
            <a href="#" class="uncheck">Menu</a>
            <a href="#" class="check">Close</a>
          </div>
        </div>
      </div>
    </div>
    <div id="navbar_mobile" class="navbar_mobile_c mobile_menu_drop">
      <list>
      {% for item in footer_primary_menu.get_items %}
        <item>
          <a href="{{item.url}}">{{item.title}}</a>
        </item>
      {% endfor %}
      </list>
      <div class="btn_mobile">
        <a href="/donate">Donate Now</a>
      </div>
      <div class="connect_mobile">
        <p>Connect with us</p>
        <div class="icons">
            <a href="https://www.facebook.com/people/SAFE-Castlebellingham/100086391224622/" target="_blank" class="fb"></a>
            <a href="https://instagram.com/safe_castlebellingham?igshid=MmJiY2I4NDBkZg==" target="_blank" class="ig"></a>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
function mobileMenu() {
  if(document.getElementsByTagName('HTML')[0].classList.contains('menu-open')) {
    document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');
    } else {
      document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');
  }
}
</script>
{% endblock %}
