.flex-tabs {
  padding: 35px;
}
@media only screen and (min-width: 1024px) {
  .flex-tabs {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .flex-tabs {
    padding: 75px 0;
  }
}
.flex-tabs .tab-head {
  transition: all 0.3s ease-out;
  padding-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  background: #95CDCD;
  padding: 20px 40px;
  padding-left: 15px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.flex-tabs .tab-head:before {
  transition: all 0.3s ease-in;
  content: "\e906";
  color: #fff;
  font-family: "icomoon";
  position: absolute;
  right: 16px;
  font-size: 24px;
  font-weight: 400;
}
@media only screen and (min-width: 1024px) {
  .flex-tabs .tab-head:before {
    font-size: 20px;
  }
}
.flex-tabs .tab-image img {
  width: 100%;
}
.flex-tabs .tab-title {
  color: #213430;
  font-weight: 600;
  transition: all 0.1s ease-out;
  font-size: 16px;
  line-height: 16px;
}
@media only screen and (min-width: 1024px) {
  .flex-tabs .tab-title {
    font-size: 20px;
    line-height: 26px;
  }
}
.flex-tabs .tab-icon {
  margin-right: 15px;
}
.flex-tabs .tab-icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
@media only screen and (min-width: 1024px) {
  .flex-tabs .tab-icon img {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .flex-tabs .tab-icon img {
    width: 40px;
    height: 40px;
  }
}
.flex-tabs .tab-body {
  overflow: hidden;
  transition: all 0.5s ease-out;
  max-height: 600px;
  margin-top: -18px;
}
@media only screen and (min-width: 768px) {
  .flex-tabs .tab-body {
    max-height: 800px;
  }
}
.flex-tabs .tab-body-content {
  padding: 20px;
}
.flex-tabs .tab-body-content * {
  color: #6F7775;
}
.flex-tabs .tab-content {
  display: none;
}
.flex-tabs .tab-content.active {
  display: block;
}
.flex-tabs .tab:not(.active) .tab-body {
  max-height: 0;
  padding: 0;
}
.flex-tabs .tab:not(.active) .tab-subtitle {
  max-height: 0;
  padding-top: 0px;
}
.flex-tabs .tab:not(.active) .tab-head {
  transition: all 0.4s ease-out;
  background: #F5F5F5;
}
.flex-tabs .tab:not(.active) .tab-head:before {
  content: "\e907";
  color: #95CDCD;
}
.flex-tabs .tab + .tab {
  margin: 40px 0;
}
@media only screen and (min-width: 1024px) {
  .flex-tabs .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .flex-tabs .wrapper {
    gap: 75px;
  }
}
@media only screen and (min-width: 1366px) {
  .flex-tabs .wrapper {
    gap: 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .flex-tabs .media {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .flex-tabs .tabs {
    flex: 0 0 500px;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1280px) {
  .flex-tabs .tabs {
    flex: 0 0 615px;
    max-width: 615px;
  }
}
.flex-tabs .tabs h2 {
  color: rgb(0, 47, 61);
}
@media only screen and (min-width: 1024px) {
  .flex-tabs .tabs h2 {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  .flex-tabs .tabs h2 {
    margin-bottom: 25px;
  }
}
.flex-tabs .tabs p {
  font-size: 14px;
  line-height: 1.5;
}
@media only screen and (min-width: 1280px) {
  .flex-tabs .tabs p {
    font-size: 20px;
    line-height: 30px;
  }
}
.flex-tabs .tabs-content {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .flex-tabs .tabs-content {
    display: block;
    flex-grow: 1;
    max-width: 945px;
  }
}
.flex-tabs .acf-innerblocks-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .flex-tabs .acf-innerblocks-container {
    display: block;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
