@import "mixins.scss";


.flex-tabs {
    padding: 35px;
    @include screen(1024) {
        padding: 50px 0;
    }
    @include screen(1280) {
        padding: 75px 0;
    }
    .tab {
        &-head {
            transition: all 0.3s ease-out;
            padding-left: 15px;
            border-radius: 5px;
            cursor:pointer;
            background:#95CDCD;
            padding: 20px 40px;
            padding-left: 15px;
            position:relative;
            display: flex;
            align-items: center;
            border-radius: 10px;
            &:before {
                transition:all 0.3s ease-in;
                content: "\e906";
                color: #fff;
                font-family: "icomoon";
                position: absolute;
                right: 16px;
                font-size: 24px;
                font-weight: 400;
//                top: 25px;
                @include screen(1024) {
                    font-size: 20px;           
                }
                
            }
            &:hover {
//                background:#95CDCD !important;
                // .tab-title {
                //     color:white;
                // }
            }
        }
        &-image {
            img {
                width: 100%;
            }
        }
        &-title {
            color: #213430;
            font-weight: 600;
            transition:all 0.1s ease-out;
            font-size: 16px;
            line-height: 16px;
            @include screen(1024) {
                font-size:20px;
                line-height: 26px;
            }
        }
        &-icon {
            margin-right: 15px;
            img {
                width: 20px;
                height: 20px;
                object-fit: contain;
                @include screen(1024) {
                    width: 30px;
                    height: 30px;
                }
                @include screen(1280) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &-body {
            overflow: hidden;
            transition:all 0.5s ease-out;
            max-height: 600px;
            margin-top: -18px;
            @include screen(768) {
                max-height:800px;
            }
            &-content {
                padding:20px;
                * {
                    color:#6F7775;
                }
            }
        }
        &-content {
            display:none;
            &.active {
                display:block;
            }
        }
        &:not(.active) {
            .tab-body {
                max-height: 0;
                padding:0;
            }
            .tab-subtitle {
                max-height: 0;
                padding-top: 0px;
            }
            .tab-head {
                transition:all 0.4s ease-out;
                background: #F5F5F5;
                &:before {
                    content: "\e907";
                    color: #95CDCD;
                }
            }
        }
        & + .tab {
            margin:40px 0;
        }
    }
    .wrapper {
        @include screen(1024) {
            display:flex;
            align-items: flex-start;
            gap:16px;
        }
        @include screen(1280) {
            gap:75px
        }
        @include screen(1366) {
            gap: 10vw;
        }
    }
    .media {
        @include screen(1024) {
            flex-grow: 1;
        }
    }
    .tabs {
        @include screen(1024) {
            flex: 0 0 500px;
            max-width: 500px;
        }
        @include screen(1280) {
            flex: 0 0 615px;
            max-width: 615px;
        }
        h2 {
            color:rgba(0, 47, 61, 1);
            @include screen(1024) {
                margin-bottom: 15px;
            }
            @include screen(1280) {
                margin-bottom: 25px;
            }
        }
        p {
            font-size:14px;
            line-height: 1.5;
            @include screen(1280) {
                font-size:20px;
                line-height: 30px;
            }
        }
    }
    .tabs-content {
        display:none;
        @include screen(1024) {
            display:block;
            flex-grow: 1;
            max-width: 945px;
        }
    }
    .acf-innerblocks-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        @include screen(1024) {
            display:block;
            margin-bottom: 50px;
        }
    }
}