{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="media">
                <InnerBlocks/>
            </div>
            <list class="tabs">
                {% for tab in fields.tabs.items %}
                <item class="tab" data-tab="{{loop.index}}">
                    <div class="tab-head" onclick="toggleTab(this.parentNode, this)">
                        <div class="tab-title">{{tab.title}}</div>
                    </div>
                    <div class="tab-body">
                        <div class="tab-body-content">
                            {{tab.content}}
                        </div>
                    </div>
                </item>
                {% endfor %}
            </list>
        </div>
    </div>
</section>

<script>

    function toggleTab(tab, head) {
        const yOffset = -150; 
        const element = head;
        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
        if(tab.classList.contains('active')) {
            tab.classList.remove('active');
        } else {
            [...document.querySelectorAll('.flex-tabs .tab.active')].forEach(function(e) {
                e.classList.remove('active');
            });
            tab.classList.add('active');
//            window.scrollTo({top: y, behavior: 'smooth'});
//            head.scrollIntoView({ top:, behavior: "smooth", block: "start", inline: "nearest" });
        }
    }
</script>
{% endblock %}
