.top-bar {
  background: #95CDCD;
  padding: 10px 40px;
  z-index: 10;
  position: relative;
  min-height: 60px;
}
.top-bar p,
.top-bar a {
  font-size: 14px;
  display: inline;
  color: #213430;
}
@media only screen and (min-width: 768px) {
  .top-bar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .top-bar .wrapper {
    gap: 25px;
  }
}
.top-bar .left .phone-icon {
  margin-left: 7px;
}
@media only screen and (min-width: 768px) {
  .top-bar .left .phone-icon {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .top-bar .right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .top-bar .right {
    flex-grow: 1;
    justify-content: space-between;
  }
}
.top-bar .right .phone-icon {
  display: none;
}
@media only screen and (min-width: 768px) {
  .top-bar .right .phone-icon {
    display: block;
  }
}
.top-bar .phone-icon {
  white-space: nowrap;
  text-decoration: none;
  color: #213430;
  font-weight: 500;
}
.top-bar .phone-icon:before {
  font-family: "icomoon";
  content: "\e905";
  margin-right: 10px;
}
.top-bar .social {
  display: none;
  color: #213430;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .top-bar .social {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.top-bar .social p {
  flex-grow: 1;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
  .top-bar .icons {
    display: flex;
    gap: 10px;
  }
}
.top-bar .icons a {
  text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  .top-bar .icons a {
    height: 25px;
  }
}
.top-bar .icons a:before {
  font-family: "icomoon";
  color: #213430;
  font-size: 25px;
}
.top-bar .icons .fb:before {
  content: "\e901";
}
.top-bar .icons .ig:before {
  content: "\e900";
}

/*# sourceMappingURL=style.css.map */
