@import "mixins.scss";

.top-bar {
    background: #95CDCD;
    padding: 10px 40px;
    z-index: 10;
    position: relative;
    min-height: 60px;
    p,
    a {
        font-size: 14px;
        display: inline;
        color: #213430;
    }
    .wrapper {
        @include screen(768) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        @include screen(1280) {
            gap: 25px;
        }
    }
    .left {
        .phone-icon {
            margin-left: 7px;
            @include screen(768) {
                display:none;
            }
        }
    }
    .right {
        @include screen(768) {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        @include screen(1280) {
            flex-grow: 1;
            justify-content: space-between;
        }
        .phone-icon {
            display:none;
            @include screen(768) {
                display:block;
            }
        }
    }
    .phone-icon {
        white-space: nowrap;
        text-decoration: none;
        color: #213430;
        font-weight: 500;
        &:before {
            font-family: "icomoon";
            content: "\e905";
            margin-right: 10px;
        }
    }

    .social {
        display:none;
        color: #213430;
        font-weight: 500;
        @include screen(768) {
            display:flex;
            align-items: center;
            gap: 10px;
        }
        p {
            flex-grow: 1;
            white-space: nowrap;
        }
    }

    .icons {
        @include screen(768) {
            display: flex;
            gap: 10px;
        }
        a {
            text-decoration: none;
            @include screen(1024) {
                height: 25px;
            }
            &:before {
                font-family: "icomoon";
                color: #213430;
                font-size: 25px;
            }
        }
        .fb {
            &:before {
                content: "\e901";
            }
        }
        .ig {
            &:before {
                content: "\e900";
            }
        }
    }
}