{% extends "block-base.twig" %}

{% block content %}
{% set fields = fn('get_field','top_bar_content', 'option') %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="container">
    <div class="wrapper">
      <div class="left">
        <div class="content">
          {{fields}}
          <a href="tel:003532061562849" class="phone-icon" style="visibility:hidden;">+353-206-156 2849</a>
        </div>
      </div>
      <div class="right">
        <a href="tel:003532061562849" class="phone-icon" style="visibility:hidden;">+353-206-156 2849</a>
        <div class="social">
          <p>Connect with us</p>
          <div class="icons">
            <a href="https://www.facebook.com/people/SAFE-Castlebellingham/100086391224622/" target="_blank" class="fb"></a>
            <a href="https://instagram.com/safe_castlebellingham?igshid=MmJiY2I4NDBkZg==" target="_blank" class="ig"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
