@import "mixins.scss";


.flex-contact {
    padding: 35px;
    @include screen(1024) {
        padding: 50px 0;
    }
    @include screen(1280) {
        padding: 75px 0;
    }
    .wrapper {
        @include screen(1024) {
            display:flex;
            align-items: flex-start;
            gap:16px;
        }
        @include screen(1280) {
            gap:75px
        }
        @include screen(1366) {
            gap: 10vw;
        }
    }
    .media {
        @include screen(1024) {
            flex-grow: 1;
        }
    }
    .acf-innerblocks-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        @include screen(1024) {
            display:block;
            margin-bottom: 50px;
        }
    }
    .form-wrapper {
        box-shadow: 0px 10px 50px rgba(33, 52, 48, 0.08);
        border-radius: 10px;
        background: white;
        padding: 20px 25px;
        @include screen(768) {
            padding: 40px 50px;
        }
        @include screen(1024) {
            flex: 0 0 600px;
            max-width: 600px;
        }
    }
}

.gform {
    &_fields {
        display:flex;
        flex-wrap:wrap;
        column-gap:25px;
        row-gap:15px;
        @include screen(1280) {
            column-gap:14px;
        }
    }
    &_heading {
        display:none;
    }
    &_button {
        background: #95CDCD;
        border:1px solid #95CDCD;
        color: #306F5E;
        font-weight: 600;
        padding: 16px 50px;
        font-family: "Ubuntu",sans-serif;
        cursor: pointer;
        width: 100%;
        transition: all 0.3s ease-out;
        font-size: 16px;
        border-radius: 5px;
        @include screen(1024) {
            font-size: 18px;
        }
        &:hover {
            background:#95CDCD;
        }
    }
    &_submission_error {
        font-size: 15px;
        color: #95CDCD;
        margin: 25px 0;
        border: 2px solid #95CDCD;
        border-radius: 3px;
        padding: 20px;
        outline: none;
    }
    &_validation_errors {
        &:focus-visible {
            outline: none;
        }
    }
    &_footer {
        margin-top: 25px;
    }
    &_wrapper {
        @include screen(1280) {
            margin-top: 35px;
        }
    }
}

.gfield {
    &_validation_message {
        color: #95CDCD;
        font-size: 14px;
        margin-top: 15px;
        font-weight: 700;
    }
    &_error {
        border: 1px solid #95CDCD!important;
        padding: 15px;
    }
    &_label {
        margin-bottom: 5px;
        display: block;
    }
    &--width {
        &-half {
            flex:0 0 100%;
            max-width: 100%;
            @include screen(768) {
                flex:0 0 100%;
                max-width: 100%;
            }
            @include screen(1280) {
                flex:0 0 calc(50% - 7px);
                max-width: calc(50% - 7px)
            }
        }
        &-full {
            flex:0 0 100%;
            max-width: 100%;
        }
    }
    &--type {
        &-checkbox {
            border:none;
            legend {
                display:none;
            }
            a {
                color:#28334D;
            }
            label {
                font-weight: 400 !important;
                font-size: 14px;
            }
            input {
                min-height: unset !important;
                width: fit-content !important;
                margin-bottom: 3px !important;
                margin-right: 15px;
                &:focus {
                    outline:none !important;
                }
            }
            .gchoice {
                display: flex;
            }
        }
        &-honeypot {
            display:none;
        }

    }
}

.gfield {
    label {
        color: rgba(48, 111, 94, 1);
        font-weight: 600;
    }
    input,
    textarea {
        border-radius: 5px !important;
        border:none;
        outline: none;
        transition:all 0.25s ease-out;
        border: 1px solid;
        border-color:rgba(136, 136, 136, 1);
        font-size: 15px;
        padding: 0px 10px;
        min-height: 50px;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            border-color:#002f3d;
            outline:1px solid #002f3d;
        }
        &::placeholder {
            font-size: 15px;
            color: rgba(136, 136, 136, 1);
        }
    }
    textarea {
        height: 150px;
        padding: 10px;
    }
}