.flex-contact {
  padding: 35px;
}
@media only screen and (min-width: 1024px) {
  .flex-contact {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .flex-contact {
    padding: 75px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .flex-contact .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .flex-contact .wrapper {
    gap: 75px;
  }
}
@media only screen and (min-width: 1366px) {
  .flex-contact .wrapper {
    gap: 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .flex-contact .media {
    flex-grow: 1;
  }
}
.flex-contact .acf-innerblocks-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  .flex-contact .acf-innerblocks-container {
    display: block;
    margin-bottom: 50px;
  }
}
.flex-contact .form-wrapper {
  box-shadow: 0px 10px 50px rgba(33, 52, 48, 0.08);
  border-radius: 10px;
  background: white;
  padding: 20px 25px;
}
@media only screen and (min-width: 768px) {
  .flex-contact .form-wrapper {
    padding: 40px 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .flex-contact .form-wrapper {
    flex: 0 0 600px;
    max-width: 600px;
  }
}

.gform_fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 15px;
}
@media only screen and (min-width: 1280px) {
  .gform_fields {
    column-gap: 14px;
  }
}
.gform_heading {
  display: none;
}
.gform_button {
  background: #95CDCD;
  border: 1px solid #95CDCD;
  color: #306F5E;
  font-weight: 600;
  padding: 16px 50px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease-out;
  font-size: 16px;
  border-radius: 5px;
}
@media only screen and (min-width: 1024px) {
  .gform_button {
    font-size: 18px;
  }
}
.gform_button:hover {
  background: #95CDCD;
}
.gform_submission_error {
  font-size: 15px;
  color: #95CDCD;
  margin: 25px 0;
  border: 2px solid #95CDCD;
  border-radius: 3px;
  padding: 20px;
  outline: none;
}
.gform_validation_errors:focus-visible {
  outline: none;
}
.gform_footer {
  margin-top: 25px;
}
@media only screen and (min-width: 1280px) {
  .gform_wrapper {
    margin-top: 35px;
  }
}

.gfield_validation_message {
  color: #95CDCD;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}
.gfield_error {
  border: 1px solid #95CDCD !important;
  padding: 15px;
}
.gfield_label {
  margin-bottom: 5px;
  display: block;
}
.gfield--width-half {
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .gfield--width-half {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .gfield--width-half {
    flex: 0 0 calc(50% - 7px);
    max-width: calc(50% - 7px);
  }
}
.gfield--width-full {
  flex: 0 0 100%;
  max-width: 100%;
}
.gfield--type-checkbox {
  border: none;
}
.gfield--type-checkbox legend {
  display: none;
}
.gfield--type-checkbox a {
  color: #28334D;
}
.gfield--type-checkbox label {
  font-weight: 400 !important;
  font-size: 14px;
}
.gfield--type-checkbox input {
  min-height: unset !important;
  width: fit-content !important;
  margin-bottom: 3px !important;
  margin-right: 15px;
}
.gfield--type-checkbox input:focus {
  outline: none !important;
}
.gfield--type-checkbox .gchoice {
  display: flex;
}
.gfield--type-honeypot {
  display: none;
}

.gfield label {
  color: rgb(48, 111, 94);
  font-weight: 600;
}
.gfield input,
.gfield textarea {
  border-radius: 5px !important;
  border: none;
  outline: none;
  transition: all 0.25s ease-out;
  border: 1px solid;
  border-color: rgb(136, 136, 136);
  font-size: 15px;
  padding: 0px 10px;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
}
.gfield input:focus,
.gfield textarea:focus {
  border-color: #002f3d;
  outline: 1px solid #002f3d;
}
.gfield input::placeholder,
.gfield textarea::placeholder {
  font-size: 15px;
  color: rgb(136, 136, 136);
}
.gfield textarea {
  height: 150px;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
