{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="media">
                <InnerBlocks/>
            </div>
            <div class="form-wrapper">
                <h3>Fill the Form Below</h3>
                [gravityform id="{{fields.form.id}}" title="false"]
            </div>
        </div>
    </div>
</section>

<script>

    function toggleTab(tab, head) {
        const yOffset = -150; 
        const element = head;
        const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;
        if(tab.classList.contains('active')) {
            tab.classList.remove('active');
        } else {
            [...document.querySelectorAll('.flex-tabs .tab.active')].forEach(function(e) {
                e.classList.remove('active');
            });
            tab.classList.add('active');
//            window.scrollTo({top: y, behavior: 'smooth'});
//            head.scrollIntoView({ top:, behavior: "smooth", block: "start", inline: "nearest" });
        }
    }
</script>
{% endblock %}
