html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

item {
  display: list-item;
  list-style: none;
}

body {
  margin: 0;
  background: #FCFCF6;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl, .container-sm {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-sm {
    max-width: 65vw;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

hr {
  background: #95CDCD;
  border: 0 !important;
  border-radius: 50px;
  width: 60px;
  height: 3px;
  margin-left: 0;
}

:root {
  --tec-color-icon-focus: #306f5e !important;
  --tec-color-event-icon-hover: #306f5e !important;
  --tec-color-accent-primary: #306f5e !important;
  --tec-color-accent-primary-hover: #306f5e !important;
  --tec-color-accent-primary-active: #306f5e !important;
}

@font-face {
  font-family: "icomoon";
  src: url("/wp-content/themes/safe/assets/fonts/icomoon.ttf") format("truetype"), url("/wp-content/themes/safe/assets/fonts/icomoon.woff") format("woff"), url("/wp-content/themes/safe/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/safe/assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("/wp-content/themes/safe/assets/fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/wp-content/themes/safe/assets/fonts/poppins-v20-latin-500.woff2") format("woff2"), url("/wp-content/themes/safe/assets/fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/wp-content/themes/safe/assets/fonts/poppins-v20-latin-600.woff2") format("woff2"), url("/wp-content/themes/safe/assets/fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
@media only screen and (min-width: 1366px) {
  html {
    font-size: 18px;
  }
}

p {
  margin: 0.7em 0;
  line-height: 1.44;
  color: rgb(111, 119, 117);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;
  line-height: 1.14;
  font-weight: 600;
  color: rgb(0, 47, 61);
}

h1 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 700;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: calc(1.347rem + 1.164vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.22rem;
  }
}
h3 {
  font-size: calc(1.28rem + 0.36vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.55rem;
  }
}
h4 {
  font-size: calc(1.258rem + 0.096vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.33rem;
  }
}
h5 {
  font-size: 1.11rem;
}
h6 {
  font-size: 0.9rem;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 1em 0;
  padding-left: 20px;
}
@media only screen and (min-width: 1280px) {
  ul {
    padding-left: 25px;
  }
}
ul li + li {
  margin-top: 6px;
}
@media only screen and (min-width: 1280px) {
  ul li + li {
    margin-top: 10px;
  }
}

ol {
  list-style: decimal;
  margin: 1em 0;
  padding-left: 20px;
}
@media only screen and (min-width: 1280px) {
  ol {
    padding-left: 25px;
  }
}
ol li + li {
  margin-top: 7px;
}
@media only screen and (min-width: 1280px) {
  ol li + li {
    margin-top: 10px;
  }
}

.has-green-pea-color {
  color: #26684C !important;
}

.has-green-pea-background-color {
  background: #26684C !important;
}

.has-rajah-color {
  color: #95CDCD !important;
}

.has-white-color {
  color: white !important;
}

.has-rajah-background-color {
  background: #95CDCD !important;
}

a[data-type=URL] {
  color: #95CDCD;
  font-weight: 700;
}

.flex a {
  font-weight: 600;
  color: #306f5e;
}

.wp-block-button {
  flex: 0 0 100%;
}
@media only screen and (min-width: 768px) {
  .wp-block-button {
    flex: unset;
  }
}
.wp-block-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.wp-block-button__link {
  font-size: 16px;
  font-weight: 600;
  background: #95CDCD;
  color: #213430 !important;
  border-radius: 4px !important;
  transition: all 0.3s ease-out;
  width: 100%;
  min-width: 200px;
  padding: 12px 30px !important;
}
.wp-block-button__link:hover {
  color: #95CDCD !important;
  background: #3e5863 !important;
}
@media only screen and (min-width: 1024px) {
  .wp-block-button__link {
    font-size: 18px;
    padding: 18px 30px !important;
    min-width: 260px !important;
  }
}
.wp-block-button.is-style-outline .wp-element-button {
  padding: 10px 30px !important;
}
@media only screen and (min-width: 1024px) {
  .wp-block-button.is-style-outline .wp-element-button {
    padding: 16px 30px !important;
  }
}
.wp-block-button.is-style-outline .wp-element-button:hover {
  color: white !important;
  background: #009368 !important;
  border-color: #009368 !important;
}

/*# sourceMappingURL=base.css.map */
