@import "mixins.scss";

.sub-contact-info {
  margin: 1em 0;
  max-width: 560px;
  .sub-wrapper {
    display:flex;
    gap:10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sub-outer {
    position:relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    &.phone {
      &:before {
        content: "\e905";
        color: #306f5e;
      }
    }
    &.email{
      &:before {
        content: "\e908";
        color: #306f5e;
      }
    }
    &.location{
      &:before {
        content: "\e904";
        color: #306f5e;
      }
    }
    &:before {
      font-family: "icomoon";
      display:block;
      font-size: 50px;
    }
  }
  .sub-value {
    color:#6F7775;
    font-weight:500;
    p {
      margin: 0;
    }
  }
  .sub-label {
    color:#306F5E;
    font-weight:600;
  }
  .sub-inner {

  }
  &.is-style-vertical {
    .sub-wrapper {
      flex-direction: column;
      gap: 30px;
    }
    .sub-outer {
      width: fit-content;
    }
  }
}