.sub-contact-info {
  margin: 1em 0;
  max-width: 560px;
}
.sub-contact-info .sub-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub-contact-info .sub-outer {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sub-contact-info .sub-outer.phone:before {
  content: "\e905";
  color: #306f5e;
}
.sub-contact-info .sub-outer.email:before {
  content: "\e908";
  color: #306f5e;
}
.sub-contact-info .sub-outer.location:before {
  content: "\e904";
  color: #306f5e;
}
.sub-contact-info .sub-outer:before {
  font-family: "icomoon";
  display: block;
  font-size: 50px;
}
.sub-contact-info .sub-value {
  color: #6F7775;
  font-weight: 500;
}
.sub-contact-info .sub-value p {
  margin: 0;
}
.sub-contact-info .sub-label {
  color: #306F5E;
  font-weight: 600;
}
.sub-contact-info.is-style-vertical .sub-wrapper {
  flex-direction: column;
  gap: 30px;
}
.sub-contact-info.is-style-vertical .sub-outer {
  width: fit-content;
}

/*# sourceMappingURL=style.css.map */
