{% extends "block-base.twig" %}

{% block content %}
<div class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="sub-wrapper">
  {% if fields.email.text.title|length > 0 %}
    <div class="contact-info">
      <a class="sub-outer email" href="{{fields.email.text.url}}" target="{{fields.email.text.target}}">
        <div class="sub-inner">
          <div class="sub-label">Email Address</div>
          <div class="sub-value">{{fields.email.text.title}}</div>
        </div>
      </a>
    </div>
  {% endif %}
  {% if fields.phone.text.title|length > 0 %}
    <div class="contact-info">
      <a class="sub-outer phone" href="{{fields.phone.text.url}}" target="{{fields.phone.text.target}}">
        <div class="sub-inner">
          <div class="sub-label">Phone Number</div>
          <div class="sub-value">{{fields.phone.text.title}}</div>
        </div>
      </a>
    </div>
  {% endif %}
  {% if fields.location.text|length > 0 %}
    <div class="contact-info">
      <div class="sub-outer location">
        <div class="sub-inner">
          <div class="sub-label">Visit Us</div>
          <div class="sub-value">{{fields.location.text}}</div>
        </div>
      </div>
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}
