.text-image {
  position: relative;
  background: #306F5E;
  z-index: 1;
}
.text-image:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.text-image:before {
  background: url("right.svg");
  background-repeat: no-repeat !important;
  background-position-x: right;
  background-position-y: top;
}
.text-image .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-image .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.text-image .wrapper:before {
  content: "";
  position: absolute;
  background: url("middle.svg");
  background-repeat: no-repeat !important;
  background-position: center;
  top: 15%;
  bottom: -70%;
  left: 0;
  right: 0;
  z-index: 1;
}
.text-image a {
  text-decoration: none;
}
.text-image .container {
  padding: 15vh 0;
}
.text-image .container .wrapper {
  width: 100%;
}
.text-image .container .wrapper .content {
  width: 52.33%;
  background: white;
  border-radius: 10px;
  align-items: flex-start;
  padding: 44px 50px 50px 50px;
  gap: 12px;
  margin-right: -3.3%;
  z-index: 4;
}
.text-image .container .wrapper .content .line_up {
  width: 60px;
  height: 3px;
  background: #95CDCD;
  border-radius: 50px;
}
.text-image .container .wrapper .photo {
  width: 47.66%;
  z-index: 3;
}
.text-image .container .wrapper .photo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 1414px) {
  .text-image .container {
    gap: 14.71vw;
    padding: 12.72vw 0;
  }
}
@media (max-width: 1070px) {
  .text-image .container .wrapper {
    flex-direction: column-reverse;
    gap: 0;
  }
  .text-image .container .wrapper .content {
    margin-right: 0;
    margin-top: -3.3%;
    width: 80%;
  }
  .text-image .container .wrapper .photo {
    width: 80%;
  }
}
@media (max-width: 770px) {
  .text-image .container .wrapper .content {
    width: 100%;
    margin-top: -6.6%;
    padding: 10%;
  }
  .text-image .container .wrapper .photo {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
