{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
  <div class="container">
    <div class="wrapper">
      <div class="content">
        <InnerBlocks/>
      </div>
      <div class="photo">
        <img src="{{fields.content.image.url}}" alt="">
      </div>
    </div>
  </div>
</section>
{% endblock %}
